<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/gef4.mvc.tutorial3/src/gef4/mvc/tutorial/Gef4MvcTutorial.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="gef4.mvc.tutorial.Gef4MvcTutorial"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="gef4.mvc.tutorial3"/>
</launchConfiguration>
